@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
$theme-colors: (
  "primary": #9228b8,
  "dark": #222,
  "secondary": #333,
);

@import "~bootstrap/scss/bootstrap.scss";

html {
  font-size: 18px;
}

body {
  background-color: var(--dark);
  color: $light;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.list-group-item {
  background-color: inherit;
  border-color: $light;
}

h1,
h2 {
  font-weight: 600;
}

.btn {
  &.btn-primary {
    &.btn-hero {
      padding: 1rem 2.1rem;
    }
  }
}

.text-container {
  max-width: 60ch;
}

.nav-link {
  color: rgba(255, 255, 255, 0.75) !important;
  transition: all ease-in-out 250ms;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}
#root {
  padding-top: 8rem;
}
