@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
$theme-colors: (
  "primary": #9228b8,
  "dark": #222,
  "secondary": #333,
);

@import "~bootstrap/scss/bootstrap.scss";

html {
  font-size: 18px;
}

body {
  background-color: var(--dark);
  color: $light;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.list-group-item {
  background-color: inherit;
  border-color: $light;
}

h1,
h2 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.btn {
  &.btn-primary {
    &.btn-hero {
      padding: 1rem 2.1rem;
    }
  }
}

.text-container {
  max-width: 60ch;
}

.nav-link {
  color: rgba(255, 255, 255, 0.75) !important;
  transition: all ease-in-out 250ms;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}
#root {
  padding-top: 8rem;
}

.no-side-borders > div {
  border-left: 0;
  border-right: 0;
}
.card {
  background-color: inherit;
}

.row .card {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  min-width: 450px;
  margin-bottom: 2rem;
}
.row {
  margin-top: 4rem;
  justify-content: center;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
input.form-control,
.read-only-text {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  outline: none;
  border-radius: 0;
  color: white;
  transition: all ease-in-out 150ms;
}

input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: none;
  color: white;
}
input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.submitting,
.submitting:hover,
.submitting:focus {
  background-color: #444;
  border-color: #444;
  box-shadow: none;
}

.character-id {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.read-only-text {
  margin-left: 1rem;
}
